.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    background-color: pink;
    height: 6rem;   
}

.contenedor-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: yellow;
}

.selector{
    display: flex;
    justify-content: center;
    height: 10vh;
    
    align-items: center;
    background-color: plum;
}
section {
    background-color: aqua;
    display: flex;
    align-content: flex-end;
    height: 100vh;
    height: 400px;
        
}

.filtros{
max-width: 400px;
max-height: 400px;
font-size: 30px;
font-weight: 600;
background-color: teal;
}

.contenedor-tarjetas {
    background-color: red;
    width: 850px;
    height: 350px;
    border: 1px solid violet;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    flex: 1 1 50px;
}

.contenedor-tarjetas>div {
    background-color: tomato;
    border: 10px solid pink;
    margin: 20px;
    flex: 1 20 200px;
}
